
.continue {
  margin-top: 60px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 900px) {
  .continue {
    margin-top: 20rem;
    margin-left: 10rem;
  }
}

.continue__heading {
  color: hsl(278, 68%, 11%);
  text-transform: uppercase;
  font-size: 30px;
}

.continue__text {
  color: hsl(279, 6%, 55%);
  font-size: 20px;
}

.continue__button {
  margin-top: 40px;
  width: 100%;
  display: block;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  cursor: pointer;
}
