/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
}


